@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.padre {
  display: flex;
}

.contactos {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contacto {
  border: 1px solid #bec1bb;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  flex-basis: 60px;
}

.principal {
  display: flex;
}

.marco_circular1 {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 2px solid white;
}

.marco_circular2 {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  border: 2px solid white;
}

.datos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.datos h5 {
  font-weight: 400;
}

.datos h6 {
  font-weight: 200;
}

.datos p {
  font-size: 0.9rem;
  font-weight: 300;
}

.iconos {
  display: flex;
  align-items: center;
}

.iconos i {
  padding: 5px;
}

.nuevoChat {
  padding: 30px;
  border: 1px solid #bec1bb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton {
  background-color: #a491d2;
  text-align: center;
  width: 180px;
  padding: 10px;
}

.boton a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.chat {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat h1 {
  font-size: 3rem;
  font-weight: 400;
}

.chat p {
  width: 600px;
  text-align: center;
}
